<form class="comment__form__create" action="/post" method="post">
	<div class="comment__icon">
		<%	if(nickname == '訪客') { %>
				<img src='avatar/8.png' class='comment__avatar' />
				<a href="login">訪客請先登入</a>
		<%	} else { %>
				<img src='avatar/<%= id%9+1 %>.png' class='comment__avatar' />
				<div class='comment__nickname'><%= nickname %></div>
		<%	} %>
	</div>
	<textarea class="comment__form__textarea" name="content"></textarea>
	<button type="submit" class="btn btn-primary createcomment">留言!</button>
</form>
</div>

<div class='container main'>
	<%	if(resObj) {
			for(var a = 0; a < resObj.length; a++) {
				if(resObj[a].posts) {
					for(var b = 0; b < resObj[a].posts.length; b++ ) { %>
					<div class='comment'>
						<div class="comment__main">
							<div class="comment__icon">
								<img src='avatar/<%= resObj[a].user_id%9+1 %>.png' class='comment__avatar' />
								<div class="comment__userinfo">
									<div class='comment__nickname'><%= resObj[a].nickname %></div>
									<div class='comment__createdat'><%= resObj[a].posts[b].created_at %></div>
								</div>
									<div class="dropdown edit">
										<button class="btn btn-dark dropdown-toggle createcomment" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										</button>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
										    <div class="dropdown-item editing">編輯</div>
										    <div class="dropdown-item deleting">刪除</div>
										</div>
									</div>
							</div>
							<div class='comment__content'><%= resObj[a].posts[b].content %></div>
						</div>
						<div class='comment__sub'>
							<%	if(nickname == '訪客') { %>
								<div class="comment__sub__notlogin">
									<a href="/login" class="button">登入以進行留言</a>
								</div>
							<%	} else { %>
								<form class="comment__sub__form" action="/subpost" method="POST">
									<div class="comment__icon ">
										<img src=avatar/<%= id%9+1 %>.png class='comment__avatar' />
										<div class="comment__userinfo">
											<div class='comment__nickname'><%= nickname %></div>
										</div>
									</div>
									<div class='comment__sub__message'>
										<input type='hidden' name='major' value='<%= resObj[a].posts[b].post_id %>' />
										<textarea class="comment__form__textarea" name="content" placeholder="有什麼想法嗎來跟大家說吧!"></textarea>
										<button type="submit" class="btn btn-dark createcomment">留言</button>
									</div>
								</form>
							<%	} %>
							<%	if(resObj[a].posts[b].subposts) {
									for(var c = 0; c < resObj[a].posts[b].subposts.length; c++ ) { %>
								<div class='comment__sub__display'>
									<div class="comment__icon">
										<img src='avatar/<%= resObj[a].user_id%9+1 %>.png' class='comment__avatar' />
										<div class="comment__userinfo">
											<div class='comment__nickname'><%= resObj[a].nickname %></div>
												<div class='comment__createdat'><%= resObj[a].posts[b].subposts[c].created_at %></div>
											</div>
											<div class="dropdown edit2">
												<button class="btn btn-dark dropdown-toggle createcomment" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												</button>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
												    <div class="dropdown-item editing">編輯</div>
												    <div class="dropdown-item deleting">刪除</div>
												</div>
											</div>
										</div>
									<div class='comment__content'><%= resObj[a].posts[b].subposts[c].content %></div>
								</div>
								<%	} 
							} %>
						</div>
					</div>
				<%	} 
				} 
			} 
		} %>
</div>
